
.nav_parent {
    background-color: green;
    
    }
    .nav {
      left: 0;
      right: 0;
      margin: auto;
      display: flex;
      width: 70%;
    }
    .nav img {
      width: 50px;
    }
    
    .nav h5 {
      margin-left: 10px;
      font-size: 12px;
      color: white;
    }
    .nav h5:hover {
      color:black;
    }